@import "../../index.css";



.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  position: relative;
  .logo {
    margin-top: 80px;
    margin-bottom: 100px;
    transition: transform 0.5s;
    z-index: 1;
    &:hover {
      transform: scale(1.1);
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h1, span {
    font-size: 40px;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    /*color: #49494a;*/
    z-index: 1;
  }
  .title {
    margin: 0 32px;
    margin-bottom: 16px;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  }
  .thin {
    font-weight: 100;
  }
  .typed {
    display: flex;
    align-items: center;
  }
  .CTA {
    margin-top: 64px;
    color: #fff;
    background: $primary-color;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 0 1px 0 rgba(0,0,0,0.12);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background: color($primary-color lightness(-10%));
    }
  }
  .learn-more {
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
    p {
      margin: 0;
      margin-bottom: 8px;
    }
  }
  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #182327;
    background: url('../../../public/images/Background.jpg');
    background-attachment: fixed;
    z-index: 0;
  }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 400px) {
  .hero {
    h1, .title, .thin, .typed-cursor {
      font-size: 1.4rem;
    }
    .title {
      margin-bottom: 8px;
    }
  }
}
