@import "../../index.css";

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: url('../../../public/images/Background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;

  .logo {
    margin-top: 80px;
    margin-bottom: 100px;
    transition: transform 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
  h1, span {
    font-size: 56px;
    text-align: center;
  }
  .title {
    margin-bottom: 32px;
    margin: 0 32px;
  }
  .thin {
    font-weight: 100;
  }
  .typed {
    display: flex;
    align-items: center;
  }
  .CTA {
    margin-top: 80px;
    color: #fff;
    border: 2px solid $primary-color;
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    &:hover {
      cursor: pointer;
      background: $primary-color;
    }
  }
  .learn-more {
    position: absolute;
    bottom: 32px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
    p {
      margin: 0;
      margin-bottom: 8px;
    }
  }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@media (max-width: 400px) {
  .hero {
    h1, .title, .thin, .typed-cursor {
      font-size: 1.4rem;
    }
    .title {
      margin-bottom: 8px;
    }
  }
}
