@import "../../index.css";

.work-together {
  background: $primary-color;
  position: relative;
  color: #fff;
  /*button {
    color: #fff;
    border-color: #fff;
    margin-bottom: 64px;
    &:hover {
      background: #fff;
      color: $black;
    }
  }*/
  .also {
    margin-top: 80px;
  }
}
