@import "../../index.css";

.work-together {
  background: $primary-color;
  position: relative;
  color: #fff;
  text-align: center;
  .also {
    margin-top: 80px;
  }
}

@media (max-width: 1143px) {
  .work-together {
    .also {
      margin-top: 48px;
    }
  }
}

@media (max-width: 664px) {
  .work-together {
    padding: 80px 32px;
  }
}

@media (max-width: 567px) {
  .work-together {
    button {
      margin-top: 24px;
    }
  }
}

@media (max-width: 400px) {
  .work-together {
    button {
      margin-top: 48px;
    }
  }
}
