.navigation {
  position: fixed;
  top: 50%;
  right: 64px;
  transform: translateY(-50%);
  z-index: 1;
  .dot {
    display: block;
    position: relative;
    z-index: 9999;
    color: transparent;
    width: 14px;
    height: 14px;
    outline: none;
    margin: 18px 0;
    border-radius: 50%;
    border: 1px solid #EAEAEA;
    transition: 0.2s all linear;
    &:hover {
      cursor: pointer;
      background: rgba(255,255,255,0.5);
    }
  }
  .current {
    background: #EAEAEA;
  }
}

@media (max-width: 1100px) {
  .navigation {
    display: none;
  }
}
