body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

$primary-color: #3583EA;


h1 {
  margin: 0;
}

button {
  background: none;
  border: 2px solid $primary-color;
  border-radius: 4px;
  padding: 0 24px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  outline: none;
  &:hover {
    cursor: pointer;
    background: $primary-color;
    color: #fff;
  }
}
