@import "../../index.css";

.work {
  background: $secondary-bg-color;
  .subtitle {
    margin-bottom: 0;
  }
}

.projects {
  .project {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 64px;
    margin-top: 80px;
    align-items: center;
    .project-container {
      display: flex;
      margin-bottom: 64px;
    }
    .content {
      width: calc(50% - 32px);
      max-width: 440px;
      margin-right: 32px;
      .project-title {
        margin-bottom: 8px;
        font-size: 32px;
      }
      .project-task {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        font-size: 1rem;
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          border: 3px solid $primary-color;
          border-radius: 50%;
          margin-right: 8px;
        }
      }
      .cta-list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        a {
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          margin-bottom: 8px;
          .fa {
            margin-right: 8px;
          }
        }
      }

    }
    .mockup {
      width: calc(50% - 32px;);
      max-width: 440px;
      margin-left: 32px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .line {
      width: 100%;
      height: 2px;
      background: $border-color;
    }
  }
  .project:nth-child(even) {
    display: flex;
    .mockup {
      order: -1;
      margin-right: 32px;
      margin-left: 0;
    }
    .content {
      order: 1;
      margin-right: 0;
      margin-left: 32px;
    }
  }
}
